{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all time favourite movies.</p>
   

  <!-- Get the Data from main.py and for loop the show on the web page-->
  {% for movie in movies %}
  <div class="card" >
    <!-- '{{movie.img_url}}' Use the img_url from the db for the card background -->
    <div class="front" style="background-image: url('{{movie.img_url}}');">
      <!-- {{ movie.ranking }} ranking data from the db -->
        <p class="large">{{ movie.ranking }}</p>
    </div>
    <div class="back">
      <div>
        <!-- {{movie.title}}, {{movie.year}} data from the db -->
    <div class="title">{{movie.title}} <span class="release_date">({{movie.year}})</span></div>
        <div class="rating">
          <!-- {{movie.rating}} data from the db -->
            <label>{{movie.rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
        <!-- {{movie.review}} data from the db -->
          <p class="review">"{{movie.review}}"</p>
          <!-- {{movie.description}} data from the db   -->
        <p class="overview">{{movie.description}}</p>

        <!-- "Update" button for submit edit -->
        <!-- Call the function "rate_movie" from main.py and use the movie.id from above -->
        <a href="{{ url_for('rate_movie', id=movie.id) }}" class="button">Update</a>
        <!-- Call the function "delete_movie" from main.py and use the movie.id from above -->
        <a href="{{ url_for('delete_movie', id=movie.id) }}" class="button delete-button">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<div class="container text-center add">
  <!-- Call the "add_movie" function in main.py -->
  <a href="{{ url_for('add_movie') }}" class="button">Add Movie</a>
</div>

{% endblock %}